* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  display: flex;
  background-color:#1a1a1a;
  padding: 1rem;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 6px;
}
.navlinks {
  display: flex;
  list-style: none;
  align-items: center;
}
.home-page {
  margin-top: 12px;
  width: 99vw;
  min-height: 100vh;
}
.home-header {
  text-align: center;
}
.footer {
  display: flex;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  background-color:#1a1a1a;
  justify-content: center;
  box-shadow: 1px 1px 1px 2px;
  border-radius: 6px;
}
.footlinks {
  display: flex;
}

.footlink {
  padding: 6px;
  margin: 2px;
}
.one-routine {
  margin: 10px;
  padding: 2rem; 
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px ;
}
.post-title {
  margin: 4px;
}
.post-body {
  margin: 4px;
}
.author {
  margin: 4px;
}
.delivery {
  margin: 4px;
  font-weight: 700;
}
.routine-info {
  list-style: none;
  margin: 4px;
}
.register {
  display:flex;
  justify-content: center;
  min-height: 87vh;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 8rem 10rem 8rem 10rem; 
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px ;
}
.login {
  display:flex;
  justify-content: center;
  min-height: 87vh;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 8rem 10rem 8rem 10rem; 
  border: 1px solid;
  box-shadow: 1px 1px 2px 2px ;
}